@import "tailwindcss";

@source "../public";
@source "../src";

@theme {
  --font-sans: 'Inter', sans-serif;
  --color-primary: #0f172a;
  --color-secondary: #334155;
  --color-accent: #3b82f6;
}

@layer base {
  body {
    @apply bg-gray-50 text-slate-900 font-sans antialiased;
  }
}